* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.gradient_button {
  height: 50px;
  padding: 0px 20px;
  font-size: 15px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
.gradient_button:hover {
  background-position: right center;
  cursor: pointer;
}
.container {
  background-color: bisque;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
p.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.input {
  width: 95%;
  height: 100px;
  background-color: aqua;
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0px 150px;
  justify-content: space-around;
  margin-bottom: 20px;
}
.form-control {
  width: 300px;
  height: 50px;
  border-radius: 15px;
}
.show_input_data {
  width: 95%;
  min-height: 50px;
  background-color: aqua;
  margin: auto;
  border-radius: 15px;
  display: flex;
  padding: 20px;
}
.data_area {
  min-height: 50px;
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 25px;
  row-gap: 10px;
}
.show_input_data i {
  font-size: 30px;
  margin-right: 10px;
  margin-top: 10px;
  color: #c22323;
}
.calc_area {
  width: 95%;
  background-color: aqua;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
}
.exercise {
  width: 95%;
  height: 50px;
  background-color: #fff;
  margin: auto;
  border-bottom: 1px solid #636363;
  cursor: pointer;
  align-items: center;
  padding: 0px 20px;
  display: flex;
  padding-top: 15px;
}
.ex_output {
  width: 95%;
  background-color: #fff;
  margin: auto;
  border-bottom: 1px solid #636363;
}
.serial {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  background-color: blue;
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  color: #fff;
  padding-bottom: 30px;
}
.ex_title {
  font-size: 30px;
  margin-left: 20px;
}
.ex_output .output {
  border: 1px solid #585858;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgb(181, 233, 75);
  padding-left: 15px;
}
.ex_output .output i {
  font-size: 30px;
}
.ex_output .output p {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold;
}
.form-group {
  padding-top: 20px;
}
#ex_out_6 .form-group input {
  height: 40px;
  margin: auto;
  margin-top: 20px;
}
.ex6 {
  display: flex;
  justify-content: center;
}
#ex_out_9 .form-group {
  display: flex;
  padding: 30px 200px 10px 200px;
  justify-content: space-between;
  align-items: center;
}
#ex_out_9 .data_area {
  background-color: rgb(181, 233, 75);
  width: 95%;
  margin: auto;
  border-radius: 5px;
  min-height: 50px;
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 25px;
  row-gap: 10px;
  padding-bottom: 5px;
  border: 1px solid #585858;
}

/* backToTop  */
.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: 0.2 ms;
  box-shadow: -4px 4px 24px -10px #f55f8d;
}
.backToTop:hover {
  color: #fff;
  opacity: 0.8;
}
/* end backToTop  */
